html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

canvas {
    background: #000000;
    height: 100%;
    display: block;
    margin: 0;
}

#HUD {
    position: absolute;
    top: 5px;
    left: 15px;
    min-width: 250px;
    width: 30%;
    opacity: 50%;
}

#HUD:hover, #HUD:focus-within {
    opacity: 100%;
}

.ui {
    background: #111;
    color: white;
    border: solid 1px white;
    border-radius: 5px;
    padding: 4px 8px;
}

.plot-inputs {
    width: 100%;
}

.function-options {
    margin: 10px 0;
    width: 100%;
    display: flex;
}

.function-input {
    font-size: 1.5rem;
    display: inline;
    box-sizing: border-box;
}

.invalid {
    border: solid 2px red;
}

.function-options button, .function-input, .function-options input[type="color"] {
    position: static;
    margin-right: 10px;
}

.function-options button {
    font-size: 1.5rem;
    display: inline;
}

.function-options input[type="color"] {
    flex-shrink: 0;
    height: 39px;
    width: 48px;
}

button {
    font-size: 1.25rem;
}
